.AspectRatio--content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.DrawerInput--input {
  width: calc(100% - 6px);
  border-color: transparent;
  color: var(--theme-primary-text);
  background: var(--theme-primary-background);
  margin-left: 4px;
}

.DrawerInput--input::placeholder {
  color: var(--theme-accent-icon);
  padding-left: 3px;
}

.EmbeddedContent--iframe {
  border: 1px solid var(--theme-primary-border);
  clip-path: inset(1px 1px);
}
